@tailwind base;
@tailwind components;
@tailwind utilities;

hr { 
  display: block; 
  height: 1px;
  border: 0; 
  border-top: 1px solid black;
  margin: 1em 0; 
  padding: 0; 
}

.muted-hr {
  display: block; 
  height: 1px;
  border: 0; 
  border-top: 1px solid gray;
  margin: 1em 0; 
  padding: 0; 
}

.no-focus {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}

.clip-circle {
  border-radius: 50%;
}

.cropped-image {
  object-fit: cover;
  width: 140px;
  height: 140px;
}